<div class="p-d-flex p-jc-center">
    <div class="p-col-12 p-md-8">
        <p-card styleClass="p-card-shadow" header=" Evaluación de Buses ">
            <p-dataView  [value]="preguntas.preguntas"  >
                <ng-template let-pregunta pTemplate="listItem"  let-index="rowIndex">
                    <div class="p-col-12">
                        <div class="product-list-item">
                            <div class="product-list-detail">
                                <div class="product-name">{{pregunta.texto}}</div>
                            </div>
                            <div class="product-list-action">
                            <p-dropdown 
                                [options]="pregunta.observaciones" 
                                [required]="true"
                                placeholder="seleccione..."   
                                (onChange)="getRespuesta(pregunta.number,pregunta.texto,$event.value)">
                            </p-dropdown>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="p-d-flex p-jc-end">
                        <p-button label="Enviar" [disabled]="!enableButton" (onClick)="enviarResp()"></p-button>
                    </div>
                </ng-template>
            </p-dataView>
        </p-card>
    </div>
</div>