<div class="p-d-flex p-jc-center">
    <div class="p-col-12 p-md-8">
        <p-card styleClass="p-card-shadow" header="Información de Bus">
            <div class="p-d-flex p-jc-center p-fluid">
                <div class="p-col-12 p-md-8">
                    <form [formGroup]="frmPlaca">
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-12">
                                <div class="p-inputgroup">
                                    <p-dropdown formControlName="tipoPlaca" [options]="tipoPlaca" optionValue="code"  optionLabel="name"></p-dropdown>
                                    <input type="text" pInputText formControlName="numeroPlaca" placeholder="Numero de Placa">   
                                    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-danger" (click)="searchPlaca()"></button> 
                                </div>
                            </div>
                        </div>
                   </form>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-center">
                <div class="p-col-12 p-md-3">
                    <span class="titleDetail">Registro No:</span> <span class="detail">{{vehiculo.num_registro}}</span>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="titleDetail">Empresa:</span> <span class="detail">{{vehiculo.empresa}}</span>
                </div>
                <div class="p-col-12 p-md-3">
                    <span class="titleDetail">Estado:</span> <span class="detail">{{vehiculo.estado}}</span>
                </div>
            </div>

            <div class="p-d-flex p-flex-column p-flex-md-row">
                <div class="p-col-12 p-md-3">
                    <span class="titleDetail">Ruta:</span> <span class="detail">{{vehiculo.tipo_ruta}}</span>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="titleDetail">Nombre Ruta:</span> <span class="detail">{{vehiculo.nombre_ruta}}</span>
                </div>
            </div>
        </p-card>
        <p-messages [(value)]="msgs1" ></p-messages>
    </div>
</div>

